[package]
name = "bls_bench"
version = "0.1.0"
edition = "2021"

[dependencies]
blst = { version = "0.3.16", features = ["portable"] }

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true

[profile.profiling]
inherits = "release"
debug = true
strip = false
